/* TYPOGRAPHY */

body {
  font-size: 16px;
  letter-spacing: 0.02em;
  word-spacing: 0.01em;
  line-height: 1.6em;
}

#heading-breadcrumbs h1 {
  letter-spacing: 0.05em;
  word-spacing: 0.02em;
}

/* LAYOUT UTILITIES */

div.uniform-height-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

div.uniform-height-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .vertical-align-md {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .vertical-align-sm {
    display: flex;
    align-items: center;
  }
}

.mask { /* The container holding a .mask block element must have position relative */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.darken {
  background: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.drop-shadow-bottom {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.36) 5px, rgba(0, 0, 0, 0.216) 10px, rgba(0, 0, 0, 0.1296) 15px, rgba(0, 0, 0, 0.07776) 20px, rgba(0, 0, 0, 0.046656) 25px, rgba(0, 0, 0, 0.0279936) 30px, rgba(0, 0, 0, 0.01679616) 35px, rgba(0, 0, 0, 0) 40px);
}

.drop-shadow-top {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.36) 5px, rgba(0, 0, 0, 0.216) 10px, rgba(0, 0, 0, 0.1296) 15px, rgba(0, 0, 0, 0.07776) 20px, rgba(0, 0, 0, 0.046656) 25px, rgba(0, 0, 0, 0.0279936) 30px, rgba(0, 0, 0, 0.01679616) 35px, rgba(0, 0, 0, 0) 40px);
}

/* LAYOUT */

div.container {
  max-width: 750px;
}

div.lazy-iframe-container iframe {
  border: none;
  background-color: transparent;
  overflow: hidden;
}

div.lazy-iframe-container {
  display: none; /* updated upon page load */
  align-items: center;
  position: relative;
}

div.lazy-iframe-container div.loading-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

div.lazy-iframe-container div.progress-bar {
  vertical-align: middle;
  width: 50%;
  height: 24px;
}

#content {
  padding-bottom: 40px;
}

a.anchor:before {
  display: block;
  content: "";
  height: 67px;
  margin: -67px 0 0;
}

a.anchor:hover {
  text-decoration-line: none;
}

a.anchor h2 {
  display: inline-block;
}

/* NAVBAR */

.affixed-nav-wrapper {
  min-height: 67px;
}

.navbar .navbar-header .navbar-brand img {
  height: 50px;
}

.navbar ul.nav > li > a {
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.1em;
}

.navbar a[target="_blank"]:after {
  font-family: 'FontAwesome';
  content: " \f08e";
}

.navbar a.current-page {
  border-top-color: #ff9e00 !important;
}

/* REGULAR NAVBAR */

.navbar-default .navbar-nav > li > a {
  color: #666;
}

.navbar-default .container div.navbar-collapse.collapse.in > ul > li > a.current-page {
  border-top-color: rgba(0, 0, 0, 0) !important;
}

.navbar-affixed-top {
  top: 0;
}

/* TRANSPARENT INVERSE NAVBAR */

.navbar-affixed-top.affix.navbar-inverse {
  background: #333;
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 1px 10px #000;
}

.navbar-inverse {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.343) 12.5%, rgba(0, 0, 0, 0.2401) 25%, rgba(0, 0, 0, 0.16807) 37.5%, rgba(0, 0, 0, 0.117649) 50%, rgba(0, 0, 0, 0.0823543) 62.5%, rgba(0, 0, 0, 0.05764801) 75%, rgba(0, 0, 0, 0.040353607) 87.5%, rgba(0, 0, 0, 0));
  border-bottom-width: 0px;
  z-index: 100;
  pointer-events: none;
}

.navbar-inverse .container {
  pointer-events: auto;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ccc;
}

.navbar-affixed-top.affix.navbar-inverse .navbar-nav > li > a:hover {
  background: rgba(0, 0, 0, 0.1);
}

.navbar-inverse .navbar-nav > li > a:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.36) 12.5%, rgba(0, 0, 0, 0.216) 25%, rgba(0, 0, 0, 0.1296) 37.5%, rgba(0, 0, 0, 0.07776) 50%, rgba(0, 0, 0, 0.046656) 62.5%, rgba(0, 0, 0, 0.0279936) 75%, rgba(0, 0, 0, 0.01679616) 87.5%, rgba(0, 0, 0, 0));
}

.navbar-inverse .container div.navbar-collapse.collapse.in {
  background-color: #333;
}

.navbar-inverse .container div.navbar-collapse.collapsing {
  background-color: #333;
}

.navbar-inverse .container div.navbar-collapse.collapse.in > ul > li > a:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* HOMEPAGE LAYOUT */

section {
  margin-bottom: 0;
}

/* HOMEPAGE HERO */

/* Layout */

#home-hero {
  margin-top: -75px;
  text-align: left !important;
}

#home-hero div.item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

#home-hero div.item-responsive {
  padding-top: 80px;
  padding-bottom: 30px;
}


#home-hero div.dark-mask {
  background-color: rgb(0, 0, 0);
}

/* Typography */

#home-hero h1 {
  letter-spacing: 0.05em;
  text-shadow: 0 1px 4px black;
}
#home-hero p {
  letter-spacing: 0.08em;
  line-height: 1.6em;
  text-shadow: 0 1px 4px black;
}

/* HOMEPAGE VALUES */

#values-section {
  padding-top: 40px;
  padding-bottom: 10px;
}

#values-section div.box-simple {
  margin-bottom: 20px;
}

#values-section div.box-simple div.icon {
  border: none;
}

#values-section div.box-simple a h3 {
  color: #ff9e00;
}

#values-section div.box-simple h3 {
  letter-spacing: 0.05em;
  margin-top: -10px;
  margin-bottom: 0px;
}

div.box-simple p {
  font-size: 15px;
}

/* HOMEPAGE VALUES */

div.home-slide h1 {
  text-transform: none !important;
  letter-spacing: 0.04em;
}
div.home-slide p {
  text-transform: none !important;
  letter-spacing: 0.05em;
  font-weight: 500;
}

div.home-slide div.item {
  background-size: cover;
  height: 600px;
  display: flex;
  align-items: center;
}

/* ABOUT PAGE ADMIN TEAM GALLERY */

div.admin-team-gallery {
  padding: 0px;
}

div.admin-team-row {
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  div.admin-team-row img {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 165px;
  }
}

/* FOOTER */

#footer {
  position: relative;
  margin-top: 0px;
  color: #ccc;
  font-size: 12px;
  line-height: 28px;
  background: #333;
}

