/* TYPOGRAPHY */

body {
  font-size: 16px;
  letter-spacing: 0.02em;
  word-spacing: 0.01em;
  line-height: 1.6em;
}

#heading-breadcrumbs h1 {
  letter-spacing: 0.05em;
  word-spacing: 0.02em;
}

/* LAYOUT UTILITIES */

div.uniform-height-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

div.uniform-height-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .vertical-align-md {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .vertical-align-sm {
    display: flex;
    align-items: center;
  }
}


/* LAYOUT */

div.container {
  max-width: 750px;
}

iframe {
  border: none;
  background-color: transparent;
  overflow: hidden;
}

div.lazy-iframe-container {
  display: none; /* updated upon page load */
  align-items: center;
  position: relative;
}

div.lazy-iframe-container div.loading-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

div.lazy-iframe-container div.progress-bar {
  vertical-align: middle;
  width: 50%;
  height: 24px;
}

/* NAVBAR */

.navbar .navbar-header .navbar-brand img {
  height: 50px;
}

.navbar ul.nav > li > a {
  text-decoration: none;
  font-size: 13px;
  letter-spacing: 0.1em;
}

/* REGULAR NAVBAR */

.navbar-default .navbar-nav > li > a {
  color: #666;
}

/* TRANSPARENT INVERSE NAVBAR */

.navbar-inverse {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.49), rgba(0, 0, 0, 0.343) 12.5%, rgba(0, 0, 0, 0.2401) 25%, rgba(0, 0, 0, 0.16807) 37.5%, rgba(0, 0, 0, 0.117649) 50%, rgba(0, 0, 0, 0.0823543) 62.5%, rgba(0, 0, 0, 0.05764801) 75%, rgba(0, 0, 0, 0.040353607) 87.5%, rgba(0, 0, 0, 0));
  border-bottom-width: 0px;
  z-index: 100;
  pointer-events: none;
}

.navbar-inverse .container {
  pointer-events: auto;
}

.navbar-inverse .navbar-nav > li > a {
  color: #ccc;
}

.navbar-inverse .navbar-nav > li > a:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.36) 12.5%, rgba(0, 0, 0, 0.216) 25%, rgba(0, 0, 0, 0.1296) 37.5%, rgba(0, 0, 0, 0.07776) 50%, rgba(0, 0, 0, 0.046656) 62.5%, rgba(0, 0, 0, 0.0279936) 75%, rgba(0, 0, 0, 0.01679616) 87.5%, rgba(0, 0, 0, 0)) !important;
}

.navbar-inverse .container div.navbar-collapse.collapse.in {
  background-color: #333;
}
.navbar-inverse .container div.navbar-collapse.collapsing {
  background-color: #333;
}

/* HOMEPAGE LAYOUT */

section {
  margin-bottom: 20px;
}

.bar {
  padding-top: 10px;
  padding-bottom: 0px;
  margin-bottom: -20px;
}

/* HOMEPAGE CAROUSEL */

/* Homepage Carousel Layout */

#home-hero {
  margin-top: -75px;
  background: transparent;
  text-align: left !important;
  margin-bottom: -30px;
}

#home-hero .owl-carousel {
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
}

#home-hero .owl-wrapper {
  display: flex !important;
  flex-direction: row;
}

#home-hero .owl-wrapper-outer {
  background: black;
}

/* Homepage Carousel Slides */

#home-hero div.item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}

#home-hero div.item-responsive {
  padding-top: 150px;
  padding-bottom: 120px;
}


#home-hero div.dark-mask {
  background-color: rgb(0, 0, 0);
}

/* Homepage Carousel Typography */

#home-hero h1 {
  letter-spacing: 0.05em;
  text-shadow: 0 1px 4px black;
}
#home-hero p {
  letter-spacing: 0.08em;
  line-height: 1.6em;
  text-shadow: 0 1px 4px black;
}

/* Homepage Carousel Controls */

#home-hero .owl-controls {
  position: relative;
  top: -40px;
  margin-top: 0px !important;
  z-index: 10;
  padding-bottom: 10px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.36) 12.5%, rgba(0, 0, 0, 0.216) 25%, rgba(0, 0, 0, 0.1296) 37.5%, rgba(0, 0, 0, 0.07776) 50%, rgba(0, 0, 0, 0.046656) 62.5%, rgba(0, 0, 0, 0.0279936) 75%, rgba(0, 0, 0, 0.01679616) 87.5%, rgba(0, 0, 0, 0)) !important;
}

#home-hero .owl-theme .owl-controls .owl-page.active span {
  opacity: 0.9;
}

/* HOMEPAGE VALUES */

div.box-simple {
  margin-bottom: 20px;
}

div.box-simple div.icon {
  border: none;
}

div.box-simple a h3 {
  color: #ff9e00;
}

div.box-simple h3 {
  letter-spacing: 0.05em;
  margin-top: -10px;
  margin-bottom: 0px;
}

div.box-simple p {
  font-size: 15px;
}

/* ABOUT PAGE ADMIN TEAM GALLERY */

div.admin-team-gallery {
  padding: 0px;
}

div.admin-team-row {
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  div.admin-team-row img {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 165px;
  }
}

/* FOOTER */

#footer {
  margin-top: 20px;
  color: #ccc;
  font-size: 12px;
  line-height: 28px;
  background: linear-gradient(to bottom, rgb(8%, 8%, 8%), rgb(12.8%, 12.8%, 12.8%) 5px, rgb(15.68%, 15.68%, 15.68%) 10px, rgb(17.408%, 17.408%, 17.408%) 15px, rgb(18.4448%, 18.4448%, 18.4448%) 20px, rgb(19.06688%, 19.06688%, 19.06688%) 25px, rgb(19.440128%, 19.440128%, 19.440128%) 30px, rgb(19.6640768%, 19.6640768%, 19.6640768%) 35px, rgb(20%, 20%, 20%) 40px);
}

