footer#footer {
  margin-top: 40px;
  background: #333;
  color: #ccc;
  font-size: 12px;
  line-height: 28px;
}

.navbar ul.nav > li > a {
  text-decoration: none;
}

div.box-simple {
  margin-bottom: 60px;
}

div.box-simple div.icon {
  border: none;
}

div.home-carousel {
  background-image: url(../img/carousel/background.jpg);
}

div.home-carousel div.dark-mask {
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
}

@media (min-width: 992px) {
  .vertical-align-md {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .vertical-align-sm {
    display: flex;
    align-items: center;
  }
}

div.admin-team-row {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  div.admin-team-row img {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

