{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}
<section>
    <div class="home-carousel">
        <div class="homepage owl-carousel">
            {{ range sort .Site.Data.carousel "weight" }}
            <div class="item item-xxs item-xs item-sm item-md item-la item-xl" style="background-image:url('{{ .backgroundimage }}')">
                <div class="container"> <div class="row">
                    <div class="dark-mask" style="opacity:{{ .backgroundopacity }}"></div>
                    {{ if .image }}
                    <div class="col-sm-5 right">
                        <h1>{{ .title | safeHTML }}</h1>
                        {{ .description | safeHTML }}
                    </div>
                    <div class="col-sm-7">
                        <img class="img-responsive" src="{{ .image }}" alt="">
                    </div>
                    {{ else }}
                    <div class="col-sm-12">
                        <h1>{{ .title | safeHTML }}</h1>
                        {{ .description | safeHTML }}
                    </div>
                    {{ end }}
                </div> </div>
            </div>
            {{ end }}
        </div>
        <!-- /.project owl-slider -->
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
