<section>
    <div id="home-hero" class="home-carousel">
        {{ range (first 1 (sort .Site.Data.slides "weight")) }}
        <div class="item item-responsive" style="background-image: url('{{ .backgroundimage }}'); background-position: {{ .backgroundposition }}">
            <div class="container"> <div class="row">
                <div class="mask darken" style="opacity:{{ .backgroundopacity }}"></div>
                <div class="mask drop-shadow-bottom"></div>
                {{ if .image }}
                <div class="col-sm-5 right">
                    <h1>{{ .title | safeHTML }}</h1>
                    {{ .description | safeHTML }}
                </div>
                <div class="col-sm-7">
                    <img class="img-responsive" src="{{ .image }}" alt="">
                </div>
                {{ else }}
                <div class="col-sm-12">
                    <h1>{{ .title | safeHTML }}</h1>
                    {{ .description | safeHTML }}
                </div>
                {{ end }}
            </div> </div>
        </div>
        {{ end }}
    </div>
</section>
