{{ if eq .navColor "dark" }}
<div class="affixed-nav-wrapper nav-wrapper-inverse">
    <nav class="navbar navbar-affixed-top navbar-inverse" role="navigation" id="navbar" data-spy="affix" data-offset-top="400">
{{ else }}
<div class="affixed-nav-wrapper nav-wrapper-default">
    <nav class="navbar navbar-affixed-top navbar-default" role="navigation" id="navbar" data-spy="affix" data-offset-top="400">
{{ end }}

        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand home" {{ if .context.IsHome }} href="#" {{ else }} href="{{ .context.Site.BaseURL }}" {{ end }}>
                    {{ if eq .navColor "dark" }}
                    <img src="{{ .context.Site.BaseURL }}img/logo-dark.png" alt="{{ .Title }} logo">
                    {{ else }}
                    <img src="{{ .context.Site.BaseURL }}img/logo.png" alt="{{ .Title }} logo">
                    {{ end }}
                    <span class="sr-only">{{ .Title }} - {{ i18n "navHome" }}</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                      <span class="sr-only">{{ i18n "navToggle" }}</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    {{ $currentURL := (printf "%s" .context.URL) }}
                    {{ range .context.Site.Menus.main }}
                    <li class="dropdown">
                        {{ if .HasChildren }}
                        <a href="{{ .URL }}" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ .Name }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                        {{ range .Children }}
                            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                        </ul>
                        {{ else }}
                        {{ if eq .Name "Blog" }}
                        <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
                        {{ else }}
                        <a {{ if (eq $currentURL .URL) }} href="#" class="current-page" {{ else }} href="{{ .URL }}" {{ end }}>{{ .Name }}</a>
                        {{ end }}
                        {{ end  }}
                    </li>
                    {{ end }}
                </ul>
            </div>
            <!--/.nav-collapse -->

        </div>
    </nav>
    <!-- /#navbar -->
</div>

<!-- *** NAVBAR END ***-->
