{{ range (after 1 (sort .Site.Data.slides "weight")) }}
{{ if isset . "backgroundimageprefix" }}
<section> <div class="home-slide home-carousel">
{{ $prefix := .backgroundimageprefix }}
{{ $loading := .backgroundimageloadsize }}
{{ $default := .backgroundimagedefaultsize }}
{{ $suffix := .backgroundimagesuffix }}
<div class="item item-responsive srcset-background-image"
     style="background-image: url('{{ $prefix }}{{ $loading }}{{ $suffix }}');
     background-position: {{ .backgroundposition }}">
    <img class="srcset-lazy-image"
        data-src="{{ $prefix }}{{ $default }}{{ $suffix }}"
        data-sizes="100vw"
        data-srcset="{{ range .backgroundimagewidths }}{{ $prefix }}{{ . }}{{ $suffix }} {{ . }}w,{{ end }}">
{{ else }}
<section class="bar background-white">
{{ end }}
    <div class="container"> <div class="row">
        {{ if isset . "backgroundimageprefix" }}
        <div class="mask drop-shadow-top"></div>
        <div class="mask drop-shadow-bottom"></div>
        {{ end }}
        {{ if .image }}
        <div class="col-sm-5 right">
            <h1>{{ .title | safeHTML }}</h1>
            {{ .description | safeHTML }}
        </div>
        <div class="col-sm-7">
            <img class="img-responsive" src="{{ .image }}" alt="">
        </div>
        {{ else }}
        <div class="col-sm-12
            {{ if not (isset . "backgroundimageprefix") }}
            text-right
            {{ else }}
            text-left
            {{ end }}">
            <h1>{{ .title | safeHTML }}</h1>
            {{ .description | safeHTML }}
        </div>
        {{ end }}
    </div> </div>
{{ if isset . "backgroundimageprefix" }}
</div> </div>
</section>
{{ else }}
</section>
{{ end }}
{{ end }}
