{{ range (after 1 (sort .Site.Data.slides "weight")) }}
{{ if isset . "backgroundimage" }}
<section> <div class="home-slide home-carousel"> <div
            class="item item-responsive lazy-image"
            data-src="{{ .backgroundimage }}"
            style="background-position: {{ .backgroundposition }}">
{{ else }}
<section class="bar background-white">
{{ end }}
    <div class="container"> <div class="row">
        {{ if isset . "backgroundimage" }}
        <div class="mask darken" style="opacity:{{ .backgroundopacity }}"></div>
        <div class="mask drop-shadow-top"></div>
        <div class="mask drop-shadow-bottom"></div>
        {{ end }}
        {{ if .image }}
        <div class="col-sm-5 right">
            <h1>{{ .title | safeHTML }}</h1>
            {{ .description | safeHTML }}
        </div>
        <div class="col-sm-7">
            <img class="img-responsive" src="{{ .image }}" alt="">
        </div>
        {{ else }}
        <div class="col-sm-12
            {{ if not (isset . "backgroundimage") }}
            text-right
            {{ else }}
            text-left
            {{ end }}">
            <h1>{{ .title | safeHTML }}</h1>
            {{ .description | safeHTML }}
        </div>
        {{ end }}
    </div> </div>
{{ if isset . "backgroundimage" }}
</div> </div> </section>
{{ else }}
</section>
{{ end }}
{{ end }}
