{{ if isset .Site.Params "values" }}
{{ if .Site.Params.values.enable }}
{{ if gt (len .Site.Data.values) 0 }}
<section class="bar background-white" id="values-section">
    <div class="container">
        <div class="row uniform-height-row">
        {{ range $index, $element := sort .Site.Data.values "weight" }}
        <div class="col-md-4 col-sm-6 col-xs-6
            col-sm-offset-0 col-xs-offset-3">
            <div class="box-simple">
                {{ if .href }}
                <a href="{{ .href }}" {{ if .hrefTargetBlank }} target="_blank" {{ end }}>
                {{ end }}
                <div class="icon">
                    <i class="{{ .icon }} fa-3x"></i>
                </div>
                <h3>{{ $element.name | safeHTML }}</h3>
                {{ if .href }}
                </a>
                {{ end }}
                <p>{{ $element.description | markdownify }}</p>
            </div>
        </div>
        {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
