<div class="container admin-team-gallery">
    {{ range $index, $element := sort .Site.Data.adminteam "order" }}
    <div class="row vertical-align-md vertical-align-sm admin-team-row">
        <div class="col-md-3 col-sm-3">
            <img class="img-responsive img-circle" alt="{{ .name }}" src="{{ .avatar | absURL }}">
        </div>
        <div class="col-md-9 col-sm-9">
            <div class="text">
                <h4>
                    {{ .name }}
                    {{ if .position }}
                    <small>({{ .position }})</small>
                    {{ end }}
                </h4>
                <p>{{ .text | markdownify }}</p>
            </div>
        </div>
    </div>
    {{ end }}
</div>
