<div class="lazy-iframe-container" style="width: {{ .Get "width" }}">
  <div class="loading-overlay">
    <div class="progress-bar progress-bar-warning progress-bar-striped active center-block" role="progressbar">
      Loading...
    </div>
  </div>
  <iframe class="lazy-src" {{ range $attrib, $value := $.Params }} {{ $attrib | safeHTMLAttr }}="{{ $value }}" {{ end }} frameborder="0" allowTransparency="true" scrolling="no" ></iframe>
</div>
<noscript><iframe src={{ .Get "data-src" }} {{ range $attrib, $value := $.Params }} {{ $attrib | safeHTMLAttr }}="{{ $value }}" {{ end }} frameborder="0" allowTransparency="true" scrolling="no" ></iframe></noscript>

